[Unit]
Description=daphne daemon

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubunut/chat/chat/

Environment="DJANGO_SETTINGS_MODULE=mysite.settings"
ExecStart=/home/ubuntu/chat/venv/bin/daphne -b 0.0.0.0 -p 8080 mysite.asgi:application

ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-abort
PrivateTmp=true
StandardError=file:/tmp/daphne-error.log

[Install]
WantedBy=multi-user.target